.form{
display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  max-width: 50vw;
  padding: 20px;
}

.input {
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    &:focus {
            border: none;
            outline: red;
            box-shadow: 0 0 5px 4px rgba(7, 7, 243, 0.626);
        }
}
.btn{
    display: flex;
    width: 115px;
    border: none;
    background: none;
    box-shadow: rgba(14, 5, 5, 0.16) 0px 1px 4px;
    padding: 10px 20px;
    border-radius: 5px;
    
        &:hover {
            cursor: pointer;
            background: rgba(7, 7, 243, 0.626);
        }
}